/cgi-bin
.htsecure
.htaccess

/bitrix
/upload
/local/vendor
/local/composer.phar
/local/modules/sprint.migration
/local/php_interface/cron/*.lock
/local/php_interface/cron/*.log

/.idea
Thumbs.db
.DS_Store
._.DS_Store

/sitemap_*.xml
/sitemap-iblock*.xml
/sitemap.xml

/google*.html
/mailru-verification*.html
/yandex_*.html
